{% extends 'base.html' %}

{% set page_head_title = 'צור קשר' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('contact.static', filename='css/contact.css') }}">

{% endblock %}

{% block page_body_main_content %}
		<div class="form">
            <br>
			<br>
			<form action="mailto:dagiG@gmail.com" method="post">
				<b id="keep">פנה אלינו:</b> <br>
				<br><label for="fullname">שם מלא:</label><br>
				<input type="text" id="fullname" name="fullname" required><br>
				<br><label for="email">דוא"ל:</label><br>
				<input type="email" id="email" placeholder="name@example.com" required><br>
				<br> <label for="message">הודעה:</label><br>
				<textarea type="message" id="message" placeholder="השאר הודעה כאן" required></textarea><br>
				<br><button type="submit">שלח</button>
			</form>

			<br>
			<br>
		</div>
		<h1 id="headline">כתובתינו:ז'בוטינסקי 54 גבעתיים<br>
			Email:dagiG@gmail.com<br>
			whatsapp: 0504440764<br>
			טלפון: 08655555
			<br></br>
		</h1>
{% endblock %}